.reviews-section {
    height: 25rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2rem;

        h3 {
            margin: auto auto;
            font-size: 2rem;
        }

        .reviews-container {
            float: right;
            background: black;
            height: 100%;
            width: 50rem;
        }
}



.review-array-container {
    float: right;
    height: auto;
    width: 45rem;
    margin: 1rem;
    padding: 1rem;
    overflow-x: scroll;

   

        .reviews-list {
            display: flex;
            gap: 3rem;
            color: white;
           
            height: 100%;
            
            
            

                .review-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    min-width: 20rem;
                    width: 20rem;
                    height: auto;
                    border-radius: 1rem;

                    background-color: rgba(0, 0, 0, 0.801);
                    padding: 1rem 3rem;
            
                }

        }
}

@media only screen and (max-width: 28rem) {
    .review-array-container {
        width: 100%;
        max-width: 100%;
        padding: 2rem;
        margin: 0;
    }

    .reviews-section {
       margin: 0;
    }

    .reviews-list {
        padding: 0;
        gap: 1rem;
    }
}