.review-array-container {
    float: right;
    height: 100%;
    width: 45rem;
    padding: 1rem;
    overflow-x: scroll;
    scrollbar-width: none;

        .reviews-list {
            display: flex;
            justify-content: start;
            gap: 3rem;
           
            color: white;
           
            height: 100%;
            flex-wrap: nowrap;
            
            

                .review-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    min-width: 20rem;
                    height: auto;
                    border-radius: 1rem;

                    background-color: rgba(0, 0, 0, 0.801);
                    padding: 1rem 3rem;
                }

        }
}