#mobile {
    display: none;
 }
 
 .footer {
    height: 40rem;
    width: 100%;
    padding: 1rem;
    background-color: black;

    display: flex;


        h3 {
            color: white;
            width: 50%;
            padding: 2rem 0 0 2rem;
            font-size: 2rem;
        }

        .footer-right {
            width: 50%;
            margin: 2rem;
 
               
            
                .email-updates-form {
                    background-color: #FAC755;
                    padding:2rem;
                    border-radius: .5rem;
                    
                    h4 {
                       width: 100%;
                       margin-bottom: 2rem;
                    }

                   
                    p {
                        padding-left: .5rem;
                        padding-bottom: .25rem;
                        font-size: .75rem;
                    }

                    

                    .email-input {
                        width: 100%;
                        padding: .5rem;
                        border-radius: .5rem;
                        background-color: #FAC755;
                    }

                    input:hover {
                        background-color: white;
                    }

                    .checkbox-submit {
                        display: flex;
                        justify-content: space-between;
                        padding-top: 2rem;

                            button {
                                width: 15rem;
                                padding: .5rem;
                                background-color: #FAC755;
                                border-radius: .5rem;
                            }

                            button:hover {
                                background-color: white;
                                cursor: pointer;
                            }
                    }

                    .checkbox-container {
                        display: flex;
                        align-items: center;
                        padding-bottom: 1rem;

                        span {
                            padding-left: .5rem;
                        }

                        .subscribe-checkbox:hover {
                            cursor: pointer;
                        }
                        
                    }

                

                }

                .footer-grid-container {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: auto;
                    gap: 1rem;
                    width: 100%;
                    margin-top: 2rem;
                    

                        h5 {
                            text-align: center;
                            background-color: white;
                            color: black;
                            padding-left: 1rem;
                            border-radius: .25rem;
                            padding: .5rem .5rem .5rem 1rem;
                        }

                        button {
                            outline: white;
                            color: white;
                            outline: .5px white solid;
                            background-color: black;
                            padding-left: 1rem;
                            border-radius: .25rem;
                            padding: .5rem .5rem .5rem 1rem;
                        }

                        button:hover {
                            cursor: pointer;
                            background-color: white;
                            color: black;
                        }

                        .socials {
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                            gap: 1rem;
                            width: 100%;
                        }
                }

        }
 }




 @media only screen and (max-width: 28rem) {
    #desktop {
        display: none;
    }

    #mobile {
        display: grid;
    }

    .footer {
        flex-direction: column;
        height: auto;
        width: 100%;

            .footer-right {
                width: 100%;
                margin: 0;
                padding: 0;


                    .checkbox-submit {
                        flex-direction: column;
                    }

                    .footer-grid-container {
                        grid-template-columns: 1fr;
                        
                            h5 {
                                margin-top: 2rem;
                            }
                    }
            }
    }
 }